body{
  margin: 20%;
}

main{
  background-color: lightgoldenrodyellow;
  padding: 20px;
  padding-bottom: 50px;
}

/* ------------------------------------------- */
/* ---------------Exercice-1---------------- */
/* ------------------------------------------- */

#bloc1{
  background: green;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
}

#bloc2{
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#bloc3{
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-2---------------- */
/* ------------------------------------------- */

#bloc4{
  position: relative;
  background: green;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

#bloc5{
  position: relative;
  left: 100px;
  right: -20px;
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#bloc6{
  position: relative;
  background: orange;
  padding: 20px;
  left: -80px;
  right: 150px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-3---------------- */
/* ------------------------------------------- */

#bloc7{
  position: relative;
  background: green;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  margin-bottom: 100px;
}

#bloc8{
  position: relative;
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#bloc9{
  position: absolute;
  top: 90px;
  left: 150px;
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-4---------------- */
/* ------------------------------------------- */

#bloc10{
  position: relative;
  background: lightblue;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  margin-bottom: 250px;
}

#bloc11{
  position: absolute;
  top: 90px;
  left: 200px;
  background: green;
  padding: 20px;
  border: 1px solid black;
}

#bloc12{
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#bloc13{
  position: absolute;
  top: 90px;
  left: -50px;
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-5---------------- */
/* ------------------------------------------- */

#bloc14{
  box-sizing: content-box;
  width: 19.5%;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background:lightblue;
  padding: 20px;
  border: 1px solid black;
}

#bloc15{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 0px;
  background: green;
  margin : 20px;
  border: 1px solid black;
  padding: 20px;
}

#bloc16{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 140px;
  top: 20px;

  background: violet;
  border: 1px solid black;
  padding: 20px;
}

#bloc17{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: orange;
  border: 1px solid black;
  padding: 20px;
  left: 30px;
  top: 120px;
}

#bloc18{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: yellow;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  left: 120px;
  top: 100px;
}