body{
  margin: 20%;
}

main{
  background-color: lightgoldenrodyellow;
  padding: 20px;
  padding-bottom: 50px;
}

/* ------------------------------------------- */
/* ---------------Exercice-1---------------- */
/* ------------------------------------------- */

#exo1CarreVert{
  background: green;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
}

#exo1CarreViolet{
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#exo1CarreOrange{
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-2---------------- */
/* ------------------------------------------- */

#exo2CarreVert{
  position: relative;
  background: green;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

#exo2CarreViolet{
  position: relative;
  left: 100px;
  right: -20px;
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#exo2CarreOrange{
  position: relative;
  background: orange;
  padding: 20px;
  left: -180px;
  right: 150px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-3---------------- */
/* ------------------------------------------- */

#exo3CarreVert{
  position: relative;
  background: green;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  margin-bottom: 100px;
}

#exo3CarreViolet{
  position: relative;
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#exo3Carreorange{
  position: absolute;
  top: 90px;
  left: 150px;
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-4---------------- */
/* ------------------------------------------- */

#exo4CarreBlue{
  position: relative;
  background: lightblue;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  margin-bottom: 250px;
}

#exo4CarreVert{
  position: absolute;
  top: 90px;
  left: 200px;
  background: green;
  padding: 20px;
  border: 1px solid black;
}

#exo4CarreViolet{
  background: violet;
  padding: 20px;
  border: 1px solid black;
}

#exo4CarreOrange{
  position: absolute;
  top: 90px;
  left: -50px;
  background: orange;
  padding: 20px;
  border: 1px solid black;
}

/* ------------------------------------------- */
/* ---------------Exercice-5---------------- */
/* ------------------------------------------- */

#exo5CarreBlue{
  box-sizing: content-box;
  width: 19.5%;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background:lightblue;
  padding: 20px;
  border: 1px solid black;
}

#exo5Carrevert{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 0px;
  background: green;
  margin : 20px;
  border: 1px solid black;
  padding: 20px;
}

#exo5CarreViolet{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 140px;
  top: 20px;

  background: violet;
  border: 1px solid black;
  padding: 20px;
}

#exo5CarreOrange{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: orange;
  border: 1px solid black;
  padding: 20px;
  left: 30px;
  top: 120px;
}

#exo5CarreJaune{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: yellow;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  left: 120px;
  top: 100px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 5 (relative)---------------*/
/*--------------------------------------------------------*/

#exercice5-rel .carreBleu {
  border: 1px solid black;
  background-color: lightblue;
  position: relative;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  padding: 25px;
}

#exercice5-rel .carreVert {
  border: 1px solid black;
  background-color: green;
  position: relative;
  width: 70px;
  height: 70px;
}

#exercice5-rel .carreViolet {
  border: 1px solid black;
  background-color: violet;
  position: relative;
  width: 70px;
  height: 70px;
  left: 85px;
  bottom: 72px;
}

#exercice5-rel .carreOrange {
  border: 1px solid black;
  background-color: orange;
  position: relative;
  width: 70px;
  height: 70px;
  bottom: 50px;
}

#exercice5-rel .carreJaune {
  border: 1px solid black;
  background-color: yellow;
  position: relative;
  width: 70px;
  height: 70px;
  left: 85px;
  bottom: 122px;
}

/* ------------------------------------------- */
/* ---------------Exercice-6---------------- */
/* ------------------------------------------- */

#exo6CarreBlue{
  box-sizing: content-box;
  width: 20%;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  background: lightblue;
  padding: 20px;
  border: 1px solid black;
}

#exo6CarreVert{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 0px;
  background: green;
  margin : 20px;
  border: 1px solid black;
  padding: 20px;
  z-index: 2;
}

#exo6CarreViolet{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 40px;
  opacity: 0.9;
  background: violet;
  border: 1px solid black;
  padding: 20px;
  z-index: 4;
}

#exo6CarreOrange{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: orange;
  border: 1px solid black;
  padding: 20px;
  left: 100px;
  top: 110px;
  z-index: 3;
}

#exo6CarreJaune{
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  position: absolute;
  background: yellow;
  padding: 20px;
  margin : 20px;
  border: 1px solid black;
  left: 120px;
  top: 120px;
  z-index: 1;
}

/* ------------------------------------------- */
/* ---------------Exercice-7---------------- */
/* ------------------------------------------- */

#CarreNoir{
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  padding: 20px;
}

#exo7CarreBlue{
  position: absolute;
  background: lightblue;
  padding: 20px;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#exo7Carrevert{
  position: absolute;
  left: 102px;
  background:green;
  padding: 20px;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#exo7CarreOrange{
  position: absolute;
  top: 102px;
  background: lightcoral;
  padding: 20px;
  box-sizing: content-box;
  width: 260px;
  height: 40px;
  border: 1px solid black;
}

#exo7CarreGris{
  position: absolute;
  top: 184px;
  right: 20px;
  background: lightgrey;
  padding: 20px;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#exo7Carrejaune{
  position: absolute;
  top: 184px;
  right: 102px;
  background:yellow;
  padding: 20px;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}